amqp
asgiref
async-timeout
attrs
autobahn
Automat
billiard
celery
certifi
cffi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
constantly
contourpy
cryptography
cycler
daphne
Django
django-bootstrap5
django-cors-headers
djangorestframework
filelock
fonttools
fsspec
huggingface-hub
hyperlink
idna
importlib_resources
incremental
Jinja2
joblib
JPype1
keybert
kiwisolver
kombu
konlpy
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pandas
pillow
prompt-toolkit
protobuf
pyasn1
pyasn1_modules
pycparser
Pygments
pyOpenSSL
pyparsing
python-dateutil
pytz
PyYAML
redis
regex
requests
rich
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
service-identity
six
sqlparse
sympy
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
triton
Twisted
txaio
typing_extensions
tzdata
urllib3
vine
wcwidth
zipp
zope.interface
nvidia-cublas-cu12
