{% extends 'base.html' %}

{% block title %}실험실 - 문서 요약{% endblock %}

{% block content %}

<div class="container mt-3">
  <div id="top-title" class="text-center py-5">
    <h1>문서 요약하기 - ver.텍스트</h1>
  </div>

  <div class="text-center pb-3">
    <form method="POST" action="{% url 'docsumm:generate-doc-summ' %}">
      {% csrf_token %}
      <div class="form-group">
          <label for="exampleFormControlTextarea1">문서내용 입력창.</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="문서내용을 입력해주세요."></textarea>
      </div>

      <div class="py-4">
        <button class="btn btn-primary btn-lg" type="submit">
          요약하기!
        </button>
      </div>

    </form>
  </div>

  <hr>

  <div class="text-center">
    <p>결과는 아래에 표기됩니다.</p>
  </div>

  <div class="row">
    <div class="col-md-8">
        <div id="top-title" class="text-center py-3">
          <h1>결과 출력</h1>
          <p>uuid 아이디</p>
        </div>

        <hr>
        
        <!-- 결과 내역 출력 -->
    </div>
    
    <!-- 오른쪽 사이드바 -->
    <div class="col-md-4">
      <div class="b-example-divider b-example-vr"></div>
      <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
          <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-5 fw-semibold">List group</span>
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea">
          <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small>Wed</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-body-secondary">Tues</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">List group item heading</strong>
              <small class="text-body-secondary">Mon</small>
            </div>
            <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
          </a>
      </div>

    </div>
</div>

</div>

{% endblock %}


