{% extends 'base.html' %}

{% block title %}실험실 - 문서 요약{% endblock %}

{% block content %}
<div class="container mt-3">
    <div id="top-title" class="text-center py-5">
        <h1>문서 요약하기 - ver.텍스트</h1>
    </div>

    <div class="text-center pb-3">
        <form method="POST" action="">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">문서내용 입력창.</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="문서내용을 입력해주세요."></textarea>
              </div>
        </form>
    </div>

    <hr>

    
</div>
{% endblock %}
