<!DOCTYPE html>
<html>
<head>
    <title>Friends List</title>
</head>
<body>
    <h1>Friends List</h1>
    <ul>
        {% for friend in friends %}
            <li>{{ friend.username }}</li>
        {% endfor %}
    </ul>

    <h2>Received Friend Requests</h2>
    <ul>
        {% for request in received_requests %}
            <li>
                {{ request.from_user.username }}
                <a href="{% url 'accept_friend_request' request.pk %}">Accept</a>
                <a href="{% url 'reject_friend_request' request.pk %}">Reject</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'send_friend_request' %}">Send Friend Request</a>
</body>
</html>
